body {
  color: #fff;
  background: #333;
}


.App {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.App > div {
  padding: 25px;
  border: 1px solid #fff;
}
